# SystemD Unit File for the HashiCorp Vault Server.
# URLs
# => https://www.freedesktop.org/software/systemd/man/systemd.unit.html
# => https://www.freedesktop.org/software/systemd/man/systemd.service.html

[Unit]
Description=Vault server
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/vault/vault server -config=/opt/vault/vault-config.hcl

[Install]
WantedBy=multi-user.target